In [1]:
import pyodbc
import numpy as np
import pandas as pd

In [2]:
sql_driver = 'DRIVER={ODBC Driver 13 for SQL Server};'
sql_server = 'SERVER=sage;'
sql_db = 'DATABASE=BUYS;'
sql_UID = 'Trusted_Connection=yes;'

cnxn = pyodbc.connect(sql_driver + sql_server + sql_db + sql_UID)

def fetch_data(q, cnxn):
    df = pd.read_sql(sql=q, con=cnxn)
    return df

In [3]:
query_TransactionAnalysis = '''
SET NOCOUNT ON
SET ANSI_WARNINGS OFF


declare @enddate date

set @enddate = '7/22/2019' -- date not included

create table #dates (StartDate date, EndDate date)
insert into #dates values (dateadd(yy,-1,@enddate), @enddate)

-- drop table #salestrans
select
       slm.LocationNo
       ,shh.LocationID
       ,shh.SalesXactionID
       ,shh.EndDate
into #salestrans
from
       HPB_SALES..SHH2019 shh
       inner join MathLab..StoreLocationMaster slm on
              shh.LocationID = slm.LocationId
              and slm.StoreType = 'S'
       inner join #dates d on
              shh.EndDate between d.StartDate and d.EndDate
where
       shh.Status = 'A'

insert into #salestrans
select
       slm.LocationNo
       ,shh.LocationID
       ,shh.SalesXactionID
       ,shh.EndDate
from
       HPB_SALES..SHH2018 shh
       inner join MathLab..StoreLocationMaster slm on
              shh.LocationID = slm.LocationId
              and slm.StoreType = 'S'
       inner join #dates d on
              shh.EndDate between d.StartDate and d.EndDate
where
       shh.Status = 'A'

-- drop table #storesales
select
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode [CouponCode]
       ,count(*) [QtySold]
       ,sum(sih.ExtendedAmt) [Sales]
       ,sum(sih.DiscountAmt) [Discounts]
into #storesales
from
       HPB_SALES..SIH2019 sih
       inner join #salestrans st on
              sih.LocationID = st.LocationID
              and sih.SalesXactionID = st.SalesXactionID
where
       sih.ItemCode not like '%[^0-9]%'
group by
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode

insert into #storesales
select
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode [CouponCode]
       ,count(*) [QtySold]
       ,sum(sih.ExtendedAmt) [Sales]
       ,sum(sih.DiscountAmt) [Discounts]
from
       HPB_SALES..SIH2018 sih
       inner join #salestrans st on
              sih.LocationID = st.LocationID
              and sih.SalesXactionID = st.SalesXactionID
where
       sih.ItemCode not like '%[^0-9]%'
group by
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode






-- drop table #itemcodes
select
       ItemCode
into #itemcodes
from
       #storesales
group by
       ItemCode

-- drop table #temp_itemcodes_details
select
       ic.ItemCode
       ,case when bi.ItemCode is null then pm.ItemCode end [DipsItemCode]
       ,bi.ItemCode [BaseItemCode]
       ,spi.ItemCode [SipsItemCode]
       ,spi.SipsID
       ,coalesce(spi.ProductType, pm.ProductType) [ProductType]
       ,pm.SectionCode
       ,pcm.FPSection
       ,case when dateadd(mm,-6,spi.DateInStock) <= spm.PubDate then 91 else spi.SubjectKey end [SubjectKey]
       ,spi.LocationNo [SipsLocationNo]
       ,pm.Cost [DipsCost]
into #temp_itemcodes_details
from
       #itemcodes ic
       left outer join ReportsView..vw_BaseInventory bi on
              ic.ItemCode = bi.ItemCode
       left outer join ReportsData..SipsProductInventory spi on
              left(ic.ItemCode,1) <> '0'
              and cast(right(ic.ItemCode,9) as int) = spi.ItemCode
       left outer join ReportsData..SipsProductMaster spm on
              spi.SipsID = spm.SipsID
       left outer join ReportsData..ProductMaster pm on
              left(ic.ItemCode,1) = '0'
              and ic.ItemCode = pm.ItemCode
       left outer join MathLab..ProductClassificationMaster pcm on
              pm.ProductType = pcm.ProductType
              and pm.SectionCode = pcm.SectionCode

-- drop table #basecosts
select
       ss.LocationID
       ,ss.SalesXactionID
       ,ss.ItemCode
       ,isnull(avg(abc.LineOfferSum / nullif(abc.Quantity,0)), avg(abc.Cost)) [BaseCost]
into #basecosts
from
       #storesales ss
       inner join #temp_itemcodes_details ic on
              ss.ItemCode = ic.ItemCode
              and ic.BaseItemCode is not null
       left outer join ReportsData..AvgBookCost_v2 abc on
              ss.LocationNo = abc.LocationNo
              and ic.ProductType = abc.ProductType
              and cast(dateadd(month, datediff(month, 0, ss.EndDate), 0) as date) = abc.FirstDayOfMonth
group by
       ss.LocationID
       ,ss.SalesXactionID
       ,ss.ItemCode

/** Sips Actual Costs **/

-- drop table #temp_sipsbuys
select
       bbi.SipsID
       ,bbi.LocationNo
       ,sum(bbi.Offer) [Offers]
       ,sum(bbi.Quantity) [Qty]
       ,avg(bbi.Offer / nullif(bbi.Quantity,0)) [AvgOffer]
into #temp_sipsbuys
from
       Buys..BuyBinItems bbi
       inner join Buys..BuyBinHeader bbh on
              bbi.LocationNo = bbh.LocationNo
              and bbi.BuyBinNo = bbh.BuyBinNo
              and bbh.StatusCode = '1'
       inner join #dates d on
              bbh.CreateTime between dateadd(dd,-1,d.StartDate) and d.EndDate
       inner join Buys..BuyTypes bt on
              bbi.BuyTypeID = bt.BuyTypeID
where
       bbi.StatusCode = '1'
       and bbi.SipsID is not null
group by
       bbi.SipsID
       ,bbi.LocationNo

-- drop table #sipsbuys
select
       SipsID
       ,LocationNo
       ,AvgOffer
       ,sum(Qty) [QtyOffers]
into #sipsbuys
from
       #temp_sipsbuys
group by
       SipsID
       ,LocationNo
       ,AvgOffer

insert into #sipsbuys
select
       SipsID
       ,'00000'
       ,sum(Offers) / nullif(sum(Qty),0) [AvgOffer]
       ,sum(Qty) [QtyOffers]
from
       #temp_sipsbuys
group by
       SipsID



-- drop table #temp_sipsitemcodes
select
       spi.ItemCode [SipsItemCode],
       spm.SipsID,
       spi.ProductType,
       case when dateadd(mm,-6,spi.DateInStock) <= spm.PubDate then 91 else spi.SubjectKey end [SubjectKey],
       spi.LocationNo,
       1 [Source]
into #temp_sipsitemcodes
from
       ReportsData..SipsProductInventory spi
       inner join ReportsData..SipsProductMaster spm on
              spi.SipsID = spm.SipsID
       inner join #dates d on
              spi.DateInStock between dateadd(yy,-1,d.StartDate) and d.EndDate


insert into #temp_sipsitemcodes
select
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.SipsLocationNo
       ,2
from
       #temp_itemcodes_details ic
where
       ic.SipsItemCode is not null

-- drop table #temp_sipsitemcodes2

select
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.LocationNo
into #temp_sipsitemcodes2
from
       #temp_sipsitemcodes ic
group by
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.LocationNo



/*
drop table #temp_scans
drop table #temp_scans2
*/
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
into #temp_scans
from
       #temp_sipsitemcodes2 sic
       left outer join ReportsData..ShelfItemScan sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

insert into #temp_scans
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
from
       #temp_sipsitemcodes2 sic
       left outer join archShelfScan..ShelfItemScanHistory_2018 sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

insert into #temp_scans
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
from
       #temp_sipsitemcodes2 sic
       left outer join archShelfScan..ShelfItemScanHistory_2017 sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

select
       ts.SipsItemCode
       ,rank() over (partition by ts.SipsItemCode order by ts.ScannedOn desc, ts.ShelfItemScanID) [LastScan]
       ,ts.SubjectKey
into #temp_scans2
from
       #temp_scans ts
where
       ScannedOn is not null


-- drop table #temp_sips_actualcosts
-- drop table #sipsitemcodes
select
       sic.SipsItemCode
       ,sic.SipsID
       ,isnull(pcm_ss.FPSection, pcm.FPSection) [FPSection]
       ,sic.ProductType
       ,isnull(ts.SubjectKey, sic.SubjectKey) [SubjectKey]
       ,pcm.Product
       ,sic.LocationNo
into #sipsitemcodes
from
       #temp_sipsitemcodes2 sic
       left outer join #temp_scans2 ts on
              sic.SipsItemCode = ts.SipsItemCode
              and ts.LastScan = 1
       left outer join MathLab..ProductClassificationMaster_ScanSubject pcm_ss on
              isnull(ts.SubjectKey, sic.SubjectKey) = pcm_ss.SubjectKey
       left outer join MathLab..ProductClassificationMaster pcm on
              sic.ProductType = pcm.ProductType
              and isnull(ts.SubjectKey, sic.SubjectKey) = pcm.SubjectKey


/*
drop table #temp_sips_actualcosts
drop table #temp_section_offers
drop table #sipscosts
drop table #itemcosts_sips
*/

select
       sic.SipsItemCode
       ,sic.FPSection
       ,isnull(sb.AvgOffer,sb_a.AvgOffer) [Offer]
       -- get qty offers for later filters (say we don't have enough offers to justify the data)
       ,sb.QtyOffers [LocQtyOffers] 
       ,sb_a.QtyOffers [ChainQtyOffers]
into #temp_sips_actualcosts
from
       #sipsitemcodes sic
       left outer join #sipsbuys sb on
              sic.SipsID = sb.SipsID
              and sic.LocationNo = sb.LocationNo
       left outer join #sipsbuys sb_a on
              sic.SipsID = sb_a.SipsID
              and sb_a.LocationNo = '00000'

select
       FPSection
       ,avg(Offer) [Offer]
into
       #temp_section_offers
from
       #temp_sips_actualcosts
group by
       FPSection
       
select
       sic.SipsItemCode
       ,isnull(ts_ac.Offer,ts_o.Offer) [Offer]
into #sipscosts
from
       #sipsitemcodes sic
       left outer join #temp_sips_actualcosts ts_ac on
              sic.SipsItemCode = ts_ac.SipsItemCode
       left outer join #temp_section_offers ts_o on
              sic.FPSection = ts_o.FPSection

























-- drop table #salesdetails
select
       ss.LocationNo
       ,ss.LocationID
       ,ss.SalesXactionID
       ,ss.EndDate
       ,ss.ItemCode
       ,ic.DipsItemCode
       ,ic.SipsItemCode
       ,ic.BaseItemCode
       ,ss.QtySold
       ,ss.Sales
       ,ss.Discounts
       ,ss.CouponCode
       ,coalesce(sc.Offer, ic.DipsCost, bc.BaseCost) * ss.QtySold  [Costs]
       ,case when ic.DipsItemCode is not null then 'Distro' else 'Used' end [Class]
       ,coalesce(sas.FPSection, sic.FPSection, ic.FPSection) [FPSection]
       ,ic.ProductType
into #salesdetails
from
       #storesales ss
       left outer join #temp_itemcodes_details ic on
              ss.ItemCode = ic.ItemCode -- is there only one record of each itemcode on ic?
       left outer join #sipsitemcodes sic on
              ic.SipsItemCode = sic.SipsItemCode
       left outer join #sipscosts sc on
              ic.SipsItemCode = sc.SipsItemCode
       left outer join #basecosts bc on
              ss.LocationID = bc.LocationID
              and ss.SalesXactionID = bc.SalesXactionID
              and ss.ItemCode = bc.ItemCode
       left outer join MathLab..SurveyAssignedSections sas on
              ss.LocationNo = sas.LocationNo
              and isnull(sic.FPSection, ic.FPSection) = sas.PCM_FPSection

select * 
from #salesdetails
where EndDate between '6/1/2019' and '7/1/2019'
order by EndDate ASC

drop table #basecosts
drop table #dates
drop table #itemcodes
drop table #salesdetails
drop table #salestrans
drop table #sipsbuys
drop table #sipscosts
drop table #sipsitemcodes
drop table #storesales
drop table #temp_itemcodes_details
drop table #temp_scans
drop table #temp_scans2
drop table #temp_section_offers
drop table #temp_sips_actualcosts
drop table #temp_sipsbuys
drop table #temp_sipsitemcodes
drop table #temp_sipsitemcodes2

'''

In [4]:
df_TA  = fetch_data(query_TransactionAnalysis, cnxn)

In [7]:
df_TA.fillna(value=pd.np.nan, inplace=True)

In [8]:
df_TA.to_csv('./TransactionAnalysis.csv')

In [9]:
df_TA

,LocationNo,LocationID,SalesXactionID,EndDate,ItemCode,DipsItemCode,SipsItemCode,BaseItemCode,QtySold,Sales,Discounts,CouponCode,Costs,Class,FPSection,ProductType
0,00048,0000000007,3000229548,2019-06-01 00:00:00,10000000000257352622,NaN,257352622.0,NaN,1,10.34,1.15,0519RC10CL,1.5000,Used,Performing Arts,UN
1,00048,0000000007,3000229548,2019-06-01 00:00:00,10000000000257371962,NaN,257371962.0,NaN,1,2.24,0.25,0519RC10CL,0.2500,Used,Performing Arts,UN
2,00048,0000000007,3000229548,2019-06-01 00:00:00,10000000000257371875,NaN,257371875.0,NaN,1,2.24,0.25,0519RC10CL,1.1353,Used,Performing Arts,UN
3,00048,0000000007,3000229548,2019-06-01 00:00:00,00000000000000005779,NaN,NaN,00000000000000005779,1,1.79,0.20,0519RC10CL,0.0000,Used,Store Front,MSCU
4,00048,0000000007,3000229548,2019-06-01 00:00:00,15000000000243025241,NaN,243025241.0,NaN,1,6.74,0.75,0519RC10CL,0.2500,Used,Performing Arts,MSCU
5,00048,0000000007,3000229549,2019-06-01 00:01:00,10000000000256857435,NaN,256857435.0,NaN,1,5.00,0.00,,0.2500,Used,Performing Arts,UN
6,00043,0000000144,1000242255,2019-06-01 07:21:00,10000000000242977018,NaN,242977018.0,NaN,1,9.99,0.00,,0.4250,Used,Mathematics,UN
7,00043,0000000144,1000242255,2019-06-01 07:21:00,10000000000245296715,NaN,245296715.0,NaN,1,9.99,0.00,,2.5000,Used,Education,UN
8,00043,0000000144,1000242256,2019-06-01 07:24:00,10000000000257358366,NaN,257358366.0,NaN,1,6.99,0.00,,1.1216,Used,Teen / Young Adult,UN
9,00043,0000000144,1000242256,2019-06-01 07:24:00,00000000000010217453,00000000000010217453,NaN,NaN,1,6.99,0.00,,2.0300,Distro,Childrens,TITP
10,00043,0000000144,1000242257,2019-06-01 07:36:00,18000000000237641529,NaN,237641529.0,NaN,1,6.74,0.75,1018TT20,1.4652,Used,Audio Books,BCD
11,00043,0000000144,1000242257,2019-06-01 07:36:00,18000000000225114008,NaN,225114008.0,NaN,1,4.50,0.50,1018TT20,1.4652,Used,Audio Books,BCD
12,00043,0000000144,1000242257,2019-06-01 07:36:00,00000000000010229189,00000000000010229189,NaN,NaN,1,2.69,0.30,1018TT20,1.5000,Distro,Stationery,CRDB
13,00043,0000000144,1000242257,2019-06-01 07:36:00,00000000000010185281,00000000000010185281,NaN,NaN,1,2.69,0.30,1018TT20,1.5000,Distro,Stationery,CRDB
14,00043,0000000144,1000242258,2019-06-01 07:37:00,10000000000258000722,NaN,258000722.0,NaN,1,62.99,0.00,,6.9719,Used,Business / Finance,UN
15,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010225512,00000000000010225512,NaN,NaN,1,7.99,0.00,,2.6000,Distro,Childrens,BRDN
16,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010217704,00000000000010217704,NaN,NaN,1,4.99,0.00,,1.1800,Distro,Childrens,BRDN
17,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010218044,00000000000010218044,NaN,NaN,1,4.49,0.00,,1.8500,Distro,Childrens,BRDN
18,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010217705,00000000000010217705,NaN,NaN,1,4.99,0.00,,1.1800,Distro,Childrens,BRDN
19,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010228846,00000000000010228846,NaN,NaN,1,5.99,0.00,,2.1000,Distro,Childrens,BRDN
20,00043,0000000144,1000242259,2019-06-01 07:41:00,00000000000010229910,00000000000010229910,NaN,NaN,1,2.99,0.00,,1.3400,Distro,Childrens,BRDN
21,00043,0000000144,1000242261,2019-06-01 07:50:00,10000000000250046342,NaN,250046342.0,NaN,1,6.49,0.00,,1.0334,Used,Christianity,UN
22,00043,0000000144,1000242262,2019-06-01 07:53:00,10000000000257662593,NaN,257662593.0,NaN,1,4.99,0.00,,0.0975,Used,Childrens,UN
23,00043,0000000144,1000242262,2019-06-01 07:53:00,26000000000253615864,NaN,253615864.0,NaN,1,4.99,0.00,,1.6666,Used,Mystery,PB
24,00043,0000000144,1000242262,2019-06-01 07:53:00,10000000000245804527,NaN,245804527.0,NaN,1,1.99,0.00,,0.1775,Used,Childrens,UN
25,00043,0000000144,1000242262,2019-06-01 07:53:00,10000000000250470173,NaN,250470173.0,NaN,1,2.49,0.00,,0.2875,Used,DVDs,UN
26,00043,0000000144,1000242262,2019-06-01 07:53:00,10000000000250664323,NaN,250664323.0,NaN,1,2.99,0.00,,0.3475,Used,Childrens,UN
27,00043,0000000144,1000242263,2019-06-01 07:57:00,00000000000000005775,NaN,NaN,00000000000000005775,1,1.00,0.00,,0.0000,Used,Magazines,MG
28,00043,0000000144,1000242263,2019-06-01 07:57:00,10000000000245714333,NaN,245714333.0,NaN,1,9.49,0.00,,1.5000,Used,Health,UN
29,00043,0000000144,1000242264,2019-06-01 07:58:00,10000000000255069759,NaN,255069759.0,NaN,1,2.99,0.00,,0.9660,Used,Nature,UN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788462,00001,0000000052,7000232788,2019-06-30 22:57:00,00000000000000005784,NaN,NaN,00000000000000005784,1,15.00,0.00,,0.0000,Used,Collectibles,NOST
2788463,00001,0000000052,7000232788,2019-06-30 22:57:00,00000000000010224116,00000000000010224116,NaN,NaN,1,7.99,0.00,,2.7000,Distro,Art,TITC
2788464,00048,0000000007,3000232829,2019-06-30 22:57:00,10000000000258527914,NaN,258527914.0,NaN,1,9.99,0.00,,1.3750,Used,Psychology,UN
2788465,00001,0000000052,7000232789,2019-06-30 22:59:00,10000000000248932030,NaN,248932030.0,NaN,1,7.99,0.00,,0.5900,Used,Business / Finance,UN
2788466,00001,0000000052,7000232789,2019-06-30 22:59:00,10000000000257141225,NaN,257141225.0,NaN,1,6.49,0.00,,0.6500,Used,Business / Finance,UN
2788467,00048,0000000007,3000232830,2019-06-30 23:03:00,16000000000255385978,NaN,255385978.0,NaN,1,3.99,0.00,,1.8937,Used,LPs,LP
2788468,00048,0000000007,3000232830,2019-06-30 23:03:00,16000000000255386041,NaN,255386041.0,NaN,1,3.99,0.00,,1.8937,Used,LPs,LP
2788469,00048,0000000007,3000232830,2019-06-30 23:03:00,16000000000259166240,NaN,259166240.0,NaN,1,4.99,0.00,,1.8937,Used,LPs,LP
2788470,00048,0000000007,3000232830,2019-06-30 23:03:00,16000000000255385944,NaN,255385944.0,NaN,1,3.99,0.00,,1.0000,Used,LPs,LP
2788471,00048,0000000007,3000232831,2019-06-30 23:05:00,13000000000259848035,NaN,259848035.0,NaN,1,12.99,0.00,,2.0000,Used,DVDs,DVD
2788472,00048,0000000007,3000232831,2019-06-30 23:05:00,13000000000231392200,NaN,231392200.0,NaN,1,7.99,0.00,,0.5000,Used,DVDs,DVD
2788473,00048,0000000007,3000232833,2019-06-30 23:09:00,13000000000259547513,NaN,259547513.0,NaN,1,2.00,0.00,,1.1200,Used,DVDs,DVD
2788474,00048,0000000007,3000232832,2019-06-30 23:09:00,10000000000249574807,NaN,249574807.0,NaN,1,7.49,0.00,,0.7700,Used,Graphic Novels / Manga,UN
2788475,00048,0000000007,3000232832,2019-06-30 23:09:00,10000000000260961748,NaN,260961748.0,NaN,1,2.99,0.00,,0.4027,Used,Teen / Young Adult,UN
2788476,00048,0000000007,3000232832,2019-06-30 23:09:00,00000000000010225632,00000000000010225632,NaN,NaN,1,3.99,0.00,,1.5000,Distro,Store Front,NBA
2788477,00048,0000000007,3000232832,2019-06-30 23:09:00,14000000000258663531,NaN,258663531.0,NaN,1,19.99,0.00,,6.1375,Used,Video Games,VGU
2788478,00048,0000000007,3000232834,2019-06-30 23:10:00,10000000000260743768,NaN,260743768.0,NaN,1,13.49,1.50,0519RC10CL,3.0000,Used,Cooking / Food & Wine,UN
2788479,00048,0000000007,3000232834,2019-06-30 23:10:00,10000000000253528863,NaN,253528863.0,NaN,1,7.19,0.80,0519RC10CL,0.5000,Used,Graphic Novels / Manga,UN
2788480,00048,0000000007,3000232834,2019-06-30 23:10:00,10000000000253528832,NaN,253528832.0,NaN,1,9.00,1.00,0519RC10CL,0.5000,Used,Graphic Novels / Manga,UN
2788481,00048,0000000007,3000232834,2019-06-30 23:10:00,17000000000255350046,NaN,255350046.0,NaN,1,8.99,1.00,0519RC10CL,0.8750,Used,Graphic Novels / Manga,NOST
2788482,00048,0000000007,3000232835,2019-06-30 23:17:00,26000000000253168072,NaN,253168072.0,NaN,1,2.99,0.00,,1.6267,Used,Collectibles,PB
2788483,00048,0000000007,3000232836,2019-06-30 23:25:00,13000000000259520096,NaN,259520096.0,NaN,1,8.99,1.00,0519RC10CL,2.4714,Used,DVDs,DVD
2788484,00048,0000000007,3000232836,2019-06-30 23:25:00,13000000000259272294,NaN,259272294.0,NaN,1,8.99,1.00,0519RC10CL,3.6250,Used,DVDs,DVD
2788485,00048,0000000007,3000232836,2019-06-30 23:25:00,13000000000259353643,NaN,259353643.0,NaN,1,8.99,1.00,0519RC10CL,2.0833,Used,DVDs,DVD
2788486,00048,0000000007,3000232839,2019-06-30 23:44:00,10000000000243107804,NaN,243107804.0,NaN,1,7.99,0.00,,2.9985,Used,Diet,UN
2788487,00048,0000000007,3000232839,2019-06-30 23:44:00,00000000000001808085,00000000000001808085,NaN,NaN,1,5.99,0.00,,2.6000,Distro,Stationery,BBJ
2788488,00048,0000000007,3000232839,2019-06-30 23:44:00,00000000000010209935,00000000000010209935,NaN,NaN,1,1.99,0.00,,0.9900,Distro,Stationery,CARD
2788489,00048,0000000007,3000232840,2019-06-30 23:47:00,10000000000251990823,NaN,251990823.0,NaN,1,5.99,0.00,,0.6450,Used,Games / Humor,UN
2788490,00048,0000000007,3000232840,2019-06-30 23:47:00,10000000000260850300,NaN,260850300.0,NaN,1,5.99,0.00,,0.1666,Used,Games / Humor,UN
2788491,00048,0000000007,3000232841,2019-06-30 23:57:00,13000000000256760237,NaN,256760237.0,NaN,1,8.99,1.00,0519RC10CL,4.0000,Used,DVDs,DVD

In [ ]:
cnxn.close()