In [1]:
import pyodbc
import numpy as np
import pandas as pd

In [2]:
sql_driver = 'DRIVER={ODBC Driver 13 for SQL Server};'
sql_server = 'SERVER=sage;'
sql_db = 'DATABASE=BUYS;'
sql_UID = 'Trusted_Connection=yes;'

cnxn = pyodbc.connect(sql_driver + sql_server + sql_db + sql_UID)

def fetch_data(q, cnxn):
    df = pd.read_sql(sql=q, con=cnxn)
    return df

In [3]:
query_TransactionAnalysis = '''
SET NOCOUNT ON
SET ANSI_WARNINGS OFF


declare @enddate date

set @enddate = '7/22/2019' -- date not included

create table #dates (StartDate date, EndDate date)
insert into #dates values (dateadd(yy,-1,@enddate), @enddate)

-- drop table #salestrans
select
       slm.LocationNo
       ,shh.LocationID
       ,shh.SalesXactionID
       ,shh.EndDate
into #salestrans
from
       HPB_SALES..SHH2019 shh
       inner join MathLab..StoreLocationMaster slm on
              shh.LocationID = slm.LocationId
              and slm.StoreType = 'S'
       inner join #dates d on
              shh.EndDate between d.StartDate and d.EndDate
where
       shh.Status = 'A'

insert into #salestrans
select
       slm.LocationNo
       ,shh.LocationID
       ,shh.SalesXactionID
       ,shh.EndDate
from
       HPB_SALES..SHH2018 shh
       inner join MathLab..StoreLocationMaster slm on
              shh.LocationID = slm.LocationId
              and slm.StoreType = 'S'
       inner join #dates d on
              shh.EndDate between d.StartDate and d.EndDate
where
       shh.Status = 'A'

-- drop table #storesales
select
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode [CouponCode]
       ,count(*) [QtySold]
       ,sum(sih.ExtendedAmt) [Sales]
       ,sum(sih.DiscountAmt) [Discounts]
into #storesales
from
       HPB_SALES..SIH2019 sih
       inner join #salestrans st on
              sih.LocationID = st.LocationID
              and sih.SalesXactionID = st.SalesXactionID
where
       sih.ItemCode not like '%[^0-9]%'
group by
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode

insert into #storesales
select
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode [CouponCode]
       ,count(*) [QtySold]
       ,sum(sih.ExtendedAmt) [Sales]
       ,sum(sih.DiscountAmt) [Discounts]
from
       HPB_SALES..SIH2018 sih
       inner join #salestrans st on
              sih.LocationID = st.LocationID
              and sih.SalesXactionID = st.SalesXactionID
where
       sih.ItemCode not like '%[^0-9]%'
group by
       st.LocationNo
       ,st.LocationID
       ,st.SalesXactionID
       ,st.EndDate
       ,sih.ItemCode
       ,sih.ODPCCode






-- drop table #itemcodes
select
       ItemCode
into #itemcodes
from
       #storesales
group by
       ItemCode

-- drop table #temp_itemcodes_details
select
       ic.ItemCode
       ,case when bi.ItemCode is null then pm.ItemCode end [DipsItemCode]
       ,bi.ItemCode [BaseItemCode]
       ,spi.ItemCode [SipsItemCode]
       ,spi.SipsID
       ,coalesce(spi.ProductType, pm.ProductType) [ProductType]
       ,pm.SectionCode
       ,pcm.FPSection
       ,case when dateadd(mm,-6,spi.DateInStock) <= spm.PubDate then 91 else spi.SubjectKey end [SubjectKey]
       ,spi.LocationNo [SipsLocationNo]
       ,pm.Cost [DipsCost]
into #temp_itemcodes_details
from
       #itemcodes ic
       left outer join ReportsView..vw_BaseInventory bi on
              ic.ItemCode = bi.ItemCode
       left outer join ReportsData..SipsProductInventory spi on
              left(ic.ItemCode,1) <> '0'
              and cast(right(ic.ItemCode,9) as int) = spi.ItemCode
       left outer join ReportsData..SipsProductMaster spm on
              spi.SipsID = spm.SipsID
       left outer join ReportsData..ProductMaster pm on
              left(ic.ItemCode,1) = '0'
              and ic.ItemCode = pm.ItemCode
       left outer join MathLab..ProductClassificationMaster pcm on
              pm.ProductType = pcm.ProductType
              and pm.SectionCode = pcm.SectionCode

-- drop table #basecosts
select
       ss.LocationID
       ,ss.SalesXactionID
       ,ss.ItemCode
       ,isnull(avg(abc.LineOfferSum / nullif(abc.Quantity,0)), avg(abc.Cost)) [BaseCost]
into #basecosts
from
       #storesales ss
       inner join #temp_itemcodes_details ic on
              ss.ItemCode = ic.ItemCode
              and ic.BaseItemCode is not null
       left outer join ReportsData..AvgBookCost_v2 abc on
              ss.LocationNo = abc.LocationNo
              and ic.ProductType = abc.ProductType
              and cast(dateadd(month, datediff(month, 0, ss.EndDate), 0) as date) = abc.FirstDayOfMonth
group by
       ss.LocationID
       ,ss.SalesXactionID
       ,ss.ItemCode

/** Sips Actual Costs **/

-- drop table #temp_sipsbuys
select
       bbi.SipsID
       ,bbi.LocationNo
       ,sum(bbi.Offer) [Offers]
       ,sum(bbi.Quantity) [Qty]
       ,avg(bbi.Offer / nullif(bbi.Quantity,0)) [AvgOffer]
into #temp_sipsbuys
from
       Buys..BuyBinItems bbi
       inner join Buys..BuyBinHeader bbh on
              bbi.LocationNo = bbh.LocationNo
              and bbi.BuyBinNo = bbh.BuyBinNo
              and bbh.StatusCode = '1'
       inner join #dates d on
              bbh.CreateTime between dateadd(dd,-1,d.StartDate) and d.EndDate
       inner join Buys..BuyTypes bt on
              bbi.BuyTypeID = bt.BuyTypeID
where
       bbi.StatusCode = '1'
       and bbi.SipsID is not null
group by
       bbi.SipsID
       ,bbi.LocationNo

-- drop table #sipsbuys
select
       SipsID
       ,LocationNo
       ,AvgOffer
       ,sum(Qty) [QtyOffers]
into #sipsbuys
from
       #temp_sipsbuys
group by
       SipsID
       ,LocationNo
       ,AvgOffer

insert into #sipsbuys
select
       SipsID
       ,'00000'
       ,sum(Offers) / nullif(sum(Qty),0) [AvgOffer]
       ,sum(Qty) [QtyOffers]
from
       #temp_sipsbuys
group by
       SipsID



-- drop table #temp_sipsitemcodes
select
       spi.ItemCode [SipsItemCode],
       spm.SipsID,
       spi.ProductType,
       case when dateadd(mm,-6,spi.DateInStock) <= spm.PubDate then 91 else spi.SubjectKey end [SubjectKey],
       spi.LocationNo,
       1 [Source]
into #temp_sipsitemcodes
from
       ReportsData..SipsProductInventory spi
       inner join ReportsData..SipsProductMaster spm on
              spi.SipsID = spm.SipsID
       inner join #dates d on
              spi.DateInStock between dateadd(yy,-1,d.StartDate) and d.EndDate


insert into #temp_sipsitemcodes
select
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.SipsLocationNo
       ,2
from
       #temp_itemcodes_details ic
where
       ic.SipsItemCode is not null

-- drop table #temp_sipsitemcodes2

select
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.LocationNo
into #temp_sipsitemcodes2
from
       #temp_sipsitemcodes ic
group by
       ic.SipsItemCode
       ,ic.SipsID
       ,ic.ProductType
       ,ic.SubjectKey
       ,ic.LocationNo



/*
drop table #temp_scans
drop table #temp_scans2
*/
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
into #temp_scans
from
       #temp_sipsitemcodes2 sic
       left outer join ReportsData..ShelfItemScan sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

insert into #temp_scans
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
from
       #temp_sipsitemcodes2 sic
       left outer join archShelfScan..ShelfItemScanHistory_2018 sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

insert into #temp_scans
select
       sic.SipsItemCode
       ,sis.ScannedOn
       ,sis.ShelfItemScanID
       ,s.SubjectKey [SubjectKey]
from
       #temp_sipsitemcodes2 sic
       left outer join archShelfScan..ShelfItemScanHistory_2017 sis on
              sic.SipsItemCode = sis.ItemCodeSips
       left outer join ReportsData..ShelfScan ss on
              sis.ShelfScanID = ss.ShelfScanID
       left outer join ReportsData..ShelfScanHistory ssh on
              sis.ShelfScanID = ssh.ShelfScanID
       left outer join ReportsData..Shelf s on
              isnull(ss.ShelfID,ssh.ShelfID) = s.ShelfID

select
       ts.SipsItemCode
       ,rank() over (partition by ts.SipsItemCode order by ts.ScannedOn desc, ts.ShelfItemScanID) [LastScan]
       ,ts.SubjectKey
into #temp_scans2
from
       #temp_scans ts
where
       ScannedOn is not null


-- drop table #temp_sips_actualcosts
-- drop table #sipsitemcodes
select
       sic.SipsItemCode
       ,sic.SipsID
       ,isnull(pcm_ss.FPSection, pcm.FPSection) [FPSection]
       ,sic.ProductType
       ,isnull(ts.SubjectKey, sic.SubjectKey) [SubjectKey]
       ,pcm.Product
       ,sic.LocationNo
into #sipsitemcodes
from
       #temp_sipsitemcodes2 sic
       left outer join #temp_scans2 ts on
              sic.SipsItemCode = ts.SipsItemCode
              and ts.LastScan = 1
       left outer join MathLab..ProductClassificationMaster_ScanSubject pcm_ss on
              isnull(ts.SubjectKey, sic.SubjectKey) = pcm_ss.SubjectKey
       left outer join MathLab..ProductClassificationMaster pcm on
              sic.ProductType = pcm.ProductType
              and isnull(ts.SubjectKey, sic.SubjectKey) = pcm.SubjectKey


/*
drop table #temp_sips_actualcosts
drop table #temp_section_offers
drop table #sipscosts
drop table #itemcosts_sips
*/

select
       sic.SipsItemCode
       ,sic.FPSection
       ,isnull(sb.AvgOffer,sb_a.AvgOffer) [Offer]
       -- get qty offers for later filters (say we don't have enough offers to justify the data)
       ,sb.QtyOffers [LocQtyOffers] 
       ,sb_a.QtyOffers [ChainQtyOffers]
into #temp_sips_actualcosts
from
       #sipsitemcodes sic
       left outer join #sipsbuys sb on
              sic.SipsID = sb.SipsID
              and sic.LocationNo = sb.LocationNo
       left outer join #sipsbuys sb_a on
              sic.SipsID = sb_a.SipsID
              and sb_a.LocationNo = '00000'

select
       FPSection
       ,avg(Offer) [Offer]
into
       #temp_section_offers
from
       #temp_sips_actualcosts
group by
       FPSection
       
select
       sic.SipsItemCode
       ,isnull(ts_ac.Offer,ts_o.Offer) [Offer]
into #sipscosts
from
       #sipsitemcodes sic
       left outer join #temp_sips_actualcosts ts_ac on
              sic.SipsItemCode = ts_ac.SipsItemCode
       left outer join #temp_section_offers ts_o on
              sic.FPSection = ts_o.FPSection

























-- drop table #salesdetails
select
       ss.LocationNo
       ,ss.LocationID
       ,ss.SalesXactionID
       ,ss.EndDate
       ,ss.ItemCode
       ,ic.DipsItemCode
       ,ic.SipsItemCode
       ,ic.BaseItemCode
       ,ss.QtySold
       ,ss.Sales
       ,ss.Discounts
       ,ss.CouponCode
       ,coalesce(sc.Offer, ic.DipsCost, bc.BaseCost) * ss.QtySold  [Costs]
       ,case when ic.DipsItemCode is not null then 'Distro' else 'Used' end [Class]
       ,coalesce(sas.FPSection, sic.FPSection, ic.FPSection) [FPSection]
       ,ic.ProductType
into #salesdetails
from
       #storesales ss
       left outer join #temp_itemcodes_details ic on
              ss.ItemCode = ic.ItemCode -- is there only one record of each itemcode on ic?
       left outer join #sipsitemcodes sic on
              ic.SipsItemCode = sic.SipsItemCode
       left outer join #sipscosts sc on
              ic.SipsItemCode = sc.SipsItemCode
       left outer join #basecosts bc on
              ss.LocationID = bc.LocationID
              and ss.SalesXactionID = bc.SalesXactionID
              and ss.ItemCode = bc.ItemCode
       left outer join MathLab..SurveyAssignedSections sas on
              ss.LocationNo = sas.LocationNo
              and isnull(sic.FPSection, ic.FPSection) = sas.PCM_FPSection

select * 
from #salesdetails
where EndDate between '7/1/2019' and '8/1/2019'
order by EndDate ASC

drop table #basecosts
drop table #dates
drop table #itemcodes
drop table #salesdetails
drop table #salestrans
drop table #sipsbuys
drop table #sipscosts
drop table #sipsitemcodes
drop table #storesales
drop table #temp_itemcodes_details
drop table #temp_scans
drop table #temp_scans2
drop table #temp_section_offers
drop table #temp_sips_actualcosts
drop table #temp_sipsbuys
drop table #temp_sipsitemcodes
drop table #temp_sipsitemcodes2

'''

In [4]:
df_TA  = fetch_data(query_TransactionAnalysis, cnxn)

In [5]:
df_TA.fillna(value=pd.np.nan, inplace=True)

In [6]:
df_TA.to_csv('./TransactionAnalysis.csv')

In [7]:
df_TA

,LocationNo,LocationID,SalesXactionID,EndDate,ItemCode,DipsItemCode,SipsItemCode,BaseItemCode,QtySold,Sales,Discounts,CouponCode,Costs,Class,FPSection,ProductType
0,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000245662468,NaN,245662468.0,NaN,1,4.00,5.99,,1.5434,Used,Diet,UN
1,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000246159573,NaN,246159573.0,NaN,1,3.00,4.99,,0.3750,Used,Cooking / Food & Wine,UN
2,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000242554111,NaN,242554111.0,NaN,1,4.00,3.99,,0.7475,Used,History,UN
3,00048,0000000007,3000232842,2019-07-01 00:03:00,17000000000237558005,NaN,237558005.0,NaN,1,2.00,3.00,,1.6078,Used,Collectibles,NOST
4,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000211007183,NaN,211007183.0,NaN,1,3.00,4.99,,1.0466,Used,Cooking / Food & Wine,UN
5,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000236260055,NaN,236260055.0,NaN,1,4.99,0.00,,0.8513,Used,Crafts / Hobbies,UN
6,00048,0000000007,3000232842,2019-07-01 00:03:00,00000000000000005798,NaN,NaN,00000000000000005798,1,18.00,0.00,,0.0000,Used,Store Front,UC
7,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000242025470,NaN,242025470.0,NaN,1,4.00,3.99,,0.4100,Used,History,UN
8,00048,0000000007,3000232842,2019-07-01 00:03:00,17000000000256099522,NaN,256099522.0,NaN,1,5.99,0.00,,1.3875,Used,Art,NOST
9,00048,0000000007,3000232842,2019-07-01 00:03:00,00000000000010209697,00000000000010209697,NaN,NaN,1,3.00,3.99,,2.2500,Distro,Nature,TITP
10,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000232005212,NaN,232005212.0,NaN,1,4.00,3.99,,1.0000,Used,History,UN
11,00048,0000000007,3000232842,2019-07-01 00:03:00,10000000000242554082,NaN,242554082.0,NaN,1,4.00,3.99,,0.3875,Used,History,UN
12,00019,0000000040,1000169950,2019-07-01 08:14:00,00000000000010017200,NaN,NaN,00000000000010017200,1,18.49,0.00,,0.0000,Used,Store Front,TXTU
13,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000251448480,NaN,251448480.0,NaN,1,4.24,0.75,0119OC15HB,0.4585,Used,Mystery,PB
14,00102,0000000156,1000304329,2019-07-01 08:17:00,10000000000249719606,NaN,249719606.0,NaN,1,6.80,1.19,0119OC15HB,1.7680,Used,Current Publications,UN
15,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000257788142,NaN,257788142.0,NaN,1,4.24,0.75,0119OC15HB,0.5000,Used,Mystery,PB
16,00102,0000000156,1000304329,2019-07-01 08:17:00,10000000000258890976,NaN,258890976.0,NaN,1,6.79,1.20,0119OC15HB,0.5833,Used,Mystery,UN
17,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000256541778,NaN,256541778.0,NaN,1,4.24,0.75,0119OC15HB,0.5000,Used,Mystery,PB
18,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000251120244,NaN,251120244.0,NaN,1,3.39,0.60,0119OC15HB,0.3325,Used,Fiction / Literature,PB
19,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000256929033,NaN,256929033.0,NaN,1,3.39,0.60,0119OC15HB,0.3183,Used,Mystery,PB
20,00102,0000000156,1000304329,2019-07-01 08:17:00,26000000000254641601,NaN,254641601.0,NaN,1,4.24,0.75,0119OC15HB,0.6875,Used,Current Publications,PB
21,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000251541878,NaN,251541878.0,NaN,1,5.99,0.00,,0.4919,Used,DVDs,DVD
22,00102,0000000156,1000304331,2019-07-01 08:22:00,00000000000010223862,00000000000010223862,NaN,NaN,1,22.40,0.00,,15.1200,Distro,Bestsellers,HBF
23,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000258145553,NaN,258145553.0,NaN,1,4.99,0.00,,0.2522,Used,DVDs,DVD
24,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000257462219,NaN,257462219.0,NaN,1,4.99,0.00,,0.4133,Used,DVDs,DVD
25,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000258178120,NaN,258178120.0,NaN,1,4.99,0.00,,0.2500,Used,DVDs,DVD
26,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000253963683,NaN,253963683.0,NaN,1,4.99,0.00,,0.4224,Used,DVDs,DVD
27,00102,0000000156,1000304330,2019-07-01 08:22:00,13000000000254333106,NaN,254333106.0,NaN,1,4.99,0.00,,0.2500,Used,DVDs,DVD
28,00102,0000000156,1000304332,2019-07-01 08:28:00,00000000000000005775,NaN,NaN,00000000000000005775,1,8.00,0.00,,0.0000,Used,Magazines,MG
29,00080,0000000105,2000279876,2019-07-01 08:33:00,13000000000254065597,NaN,254065597.0,NaN,1,7.99,0.00,,0.5000,Used,DVDs,DVD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2247194,00048,0000000007,3000235563,2019-07-21 23:29:00,13000000000262702410,NaN,262702410.0,NaN,1,3.60,0.40,0719RC10CL,1.1209,Used,DVDs,DVD
2247195,00048,0000000007,3000235563,2019-07-21 23:29:00,13000000000262937706,NaN,262937706.0,NaN,1,2.70,0.30,0719RC10CL,0.0000,Used,DVDs,DVD
2247196,00048,0000000007,3000235563,2019-07-21 23:29:00,10000000000262654325,NaN,262654325.0,NaN,1,15.74,1.75,0719RC10CL,1.7500,Used,Cooking / Food & Wine,UN
2247197,00048,0000000007,3000235564,2019-07-21 23:31:00,10000000000251839052,NaN,251839052.0,NaN,1,8.99,0.00,,1.0000,Used,Childrens,UN
2247198,00048,0000000007,3000235564,2019-07-21 23:31:00,10000000000260946532,NaN,260946532.0,NaN,1,3.99,0.00,,0.5000,Used,Teen / Young Adult,UN
2247199,00048,0000000007,3000235564,2019-07-21 23:31:00,10000000000260611654,NaN,260611654.0,NaN,1,2.99,0.00,,0.1250,Used,Childrens,UN
2247200,00048,0000000007,3000235565,2019-07-21 23:32:00,00000000000010216665,00000000000010216665,NaN,NaN,1,5.99,0.00,,1.5000,Distro,Foreign Language,TITP
2247201,00048,0000000007,3000235566,2019-07-21 23:38:00,13000000000253742940,NaN,253742940.0,NaN,1,4.99,0.00,,0.7500,Used,DVDs,DVD
2247202,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000248650248,NaN,248650248.0,NaN,1,2.70,0.30,0818EW10,0.7750,Used,Antiques / Collecting,UN
2247203,00048,0000000007,3000235567,2019-07-21 23:55:00,13000000000262705753,NaN,262705753.0,NaN,1,2.70,0.30,0818EW10,0.6666,Used,DVDs,DVD
2247204,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000263016737,NaN,263016737.0,NaN,1,7.64,0.85,0818EW10,2.5000,Used,Psychology,UN
2247205,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000238557839,NaN,238557839.0,NaN,1,3.60,0.40,0818EW10,1.2500,Used,Art,UN
2247206,00048,0000000007,3000235567,2019-07-21 23:55:00,00000000000001704290,00000000000001704290,NaN,NaN,1,13.50,1.49,0818EW10,6.5000,Distro,Store Front,KITD
2247207,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000248792829,NaN,248792829.0,NaN,1,2.70,0.30,0818EW10,0.4287,Used,Crafts / Hobbies,UN
2247208,00048,0000000007,3000235567,2019-07-21 23:55:00,13000000000262203945,NaN,262203945.0,NaN,1,5.39,0.60,0818EW10,1.1209,Used,DVDs,DVD
2247209,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000249149440,NaN,249149440.0,NaN,1,3.60,0.40,0818EW10,0.7500,Used,Crafts / Hobbies,UN
2247210,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000253357377,NaN,253357377.0,NaN,1,5.83,0.65,0818EW10,0.8750,Used,Psychology,UN
2247211,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000262044415,NaN,262044415.0,NaN,1,7.19,0.80,0818EW10,1.0000,Used,Metaphysics,UN
2247212,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000258668101,NaN,258668101.0,NaN,1,4.49,0.50,0818EW10,0.2500,Used,Religion,UN
2247213,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000257843775,NaN,257843775.0,NaN,1,5.39,0.60,0818EW10,0.8750,Used,Mythology / Folklore,UN
2247214,00048,0000000007,3000235567,2019-07-21 23:55:00,00000000000001611095,00000000000001611095,NaN,NaN,1,6.29,0.70,0818EW10,1.8500,Distro,Metaphysics,TITP
2247215,00048,0000000007,3000235567,2019-07-21 23:55:00,13000000000262296400,NaN,262296400.0,NaN,1,5.39,0.60,0818EW10,0.2500,Used,DVDs,DVD
2247216,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000232806298,NaN,232806298.0,NaN,1,5.39,0.60,0818EW10,0.5000,Used,Crafts / Hobbies,UN
2247217,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000243104732,NaN,243104732.0,NaN,1,2.70,0.30,0818EW10,0.5625,Used,Crafts / Hobbies,UN
2247218,00048,0000000007,3000235567,2019-07-21 23:55:00,12000000000262435236,NaN,262435236.0,NaN,1,3.59,0.40,0818EW10,0.5000,Used,CDs,CDU
2247219,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000261790728,NaN,261790728.0,NaN,1,6.74,0.75,0818EW10,1.0000,Used,Metaphysics,UN
2247220,00048,0000000007,3000235567,2019-07-21 23:55:00,10000000000240586798,NaN,240586798.0,NaN,1,3.14,0.35,0818EW10,0.3750,Used,Antiques / Collecting,UN
2247221,00048,0000000007,3000235567,2019-07-21 23:55:00,00000000000000005798,NaN,NaN,00000000000000005798,1,1.80,0.20,0818EW10,0.0000,Used,Store Front,UC
2247222,00048,0000000007,3000235568,2019-07-21 23:57:00,00000000819791020636,00000000819791020636,NaN,NaN,1,0.49,0.00,,0.2200,Distro,Store Front,BKM
2247223,00048,0000000007,3000235569,2019-07-21 23:58:00,10000000000262394113,NaN,262394113.0,NaN,1,13.99,0.00,,4.2343,Used,Science Fiction / Fantasy,UN

In [8]:
cnxn.close()