In [1]:
import datetime
from dateutil.relativedelta import relativedelta
#from datetime import timedelta
import numpy as np
import pandas as pd

import plotly
import chart_studio.plotly as py
import plotly.io as pio
import plotly.graph_objs as go
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot

import json
from flask import Flask, render_template

import dash
import dash_html_components as html

In [2]:
df = pd.read_csv('./TransactionAnalysis.csv', index_col=0, header=0)

C:\Users\WMiller\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning:

elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [3]:
df.columns

Index(['LocationNo', 'LocationID', 'SalesXactionID', 'EndDate', 'ItemCode',
       'DipsItemCode', 'SipsItemCode', 'BaseItemCode', 'QtySold', 'Sales',
       'Discounts', 'CouponCode', 'Costs', 'Class', 'FPSection',
       'ProductType'],
      dtype='object')

In [4]:
df.describe()

,LocationNo,LocationID,SalesXactionID,DipsItemCode,SipsItemCode,BaseItemCode,QtySold,Sales,Discounts,Costs
count,2.788492e+06,2.788492e+06,2.788492e+06,6.248520e+05,1.956829e+06,2.067870e+05,2.788492e+06,2.788492e+06,2.788492e+06,2.788468e+06
mean,6.033448e+01,9.962396e+01,2.072875e+09,4.166646e+10,2.500274e+08,2.266472e+05,1.050181e+00,6.256809e+00,5.159966e-01,1.325570e+00
std,3.838265e+01,6.509642e+01,1.081810e+09,1.738289e+11,1.216661e+07,1.479905e+06,5.336262e-01,1.023443e+01,2.039703e+00,4.674971e+00
min,1.000000e+00,3.000000e+00,1.000012e+09,9.000000e+00,1.476277e+06,5.756000e+03,1.000000e+00,-5.260000e+02,0.000000e+00,0.000000e+00
25%,2.600000e+01,5.200000e+01,1.000296e+09,1.007505e+07,2.470780e+08,5.768000e+03,1.000000e+00,3.000000e+00,0.000000e+00,3.900000e-01
50%,5.700000e+01,8.300000e+01,2.000238e+09,1.021914e+07,2.538701e+08,5.787000e+03,1.000000e+00,4.990000e+00,0.000000e+00,7.473000e-01
75%,9.500000e+01,1.490000e+02,3.000138e+09,1.022857e+07,2.574902e+08,5.798000e+03,1.000000e+00,7.990000e+00,0.000000e+00,1.500000e+00
max,1.300000e+02,2.410000e+02,8.000120e+09,8.952211e+11,2.611630e+08,1.022713e+07,4.200000e+02,1.092194e+04,1.300000e+03,6.804000e+03

In [7]:
df.iloc[df['Costs'].idxmax()]

LocationNo                          58
LocationID                          64
SalesXactionID              3000134031
EndDate            2019-06-27 11:45:00
ItemCode          00000000000010236904
DipsItemCode               1.02369e+07
SipsItemCode                       NaN
BaseItemCode                       NaN
QtySold                            420
Sales                          10921.9
Discounts                            0
CouponCode
Costs                             6804
Class                           Distro
FPSection                  Bestsellers
ProductType                        HBF
Name: 2410194, dtype: object