In [1]:
import pyodbc
import numpy as np
import pandas as pd

In [16]:
def load_QueryFromFile(fn):
    f = open(fn, 'r')
    return f.read()

def fetch_Data(fn,):
    q = load_QueryFromFile(fn)
    sql_driver = 'DRIVER={ODBC Driver 13 for SQL Server};'
    sql_server = 'SERVER=sage;'
    sql_db = 'DATABASE=BUYS;'
    sql_UID = 'Trusted_Connection=yes;'

    cnxn = pyodbc.connect(sql_driver + sql_server + sql_db + sql_UID)
    df = pd.read_sql(sql=q, con=cnxn)
    return df

In [17]:
df = fetch_Data('./query/actual_FromNRF2017Week1.sql')

In [18]:
df

,LocationNo,NRF_Year,Store_StartOfWeek,NRF_Week,NRF_Week_Restated,sales_CountTransactions,sales_QtySold,sales_AmtSold,sales_QtySold_Used,sales_QtySold_New,...,buys_AmtPurchased,buys_BuyWaitSeconds,pricing_QtyPriced,pricing_AvgPrice,pricing_AvgListPrice,pricing_QtyScannerClearance,pricing_QtyScannerMarkdown,transfers_QtyDisposed,transfers_QtyToBookSmarter,transfers_QtyToLocation
0,00001,2017,2017-01-30,1,0,6355,23975,117407.7900,19253,4551,...,22172.0000,1364640,24969,6.1915,22.2558,10227,326,1,0,3971
1,00001,2017,2017-02-06,2,1,6330,25134,122158.2800,20494,4383,...,23521.2500,1593120,22402,8.5448,22.1974,8937,265,0,0,4892
2,00001,2017,2017-02-13,3,2,6776,28162,135472.7200,22638,5258,...,22759.2500,1518180,20640,6.8000,26.6121,8446,282,1,0,4624
3,00001,2017,2017-02-20,4,3,6886,27633,140177.2200,21992,5361,...,25865.2500,1925880,20450,7.3297,21.1455,8339,274,1,0,6473
4,00001,2017,2017-02-27,5,4,6312,24778,128613.3400,19521,4994,...,22763.0000,1495980,20073,6.8881,21.1245,8025,349,0,0,7932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22675,5Yr,2020,2020-02-03,1,1,1593,5301,29928.7292,4160,1073,...,5213.7007,310719,5681,9.8971,20.2663,69,0,0,0,1681
22676,5Yr,2020,2020-02-10,2,2,1841,6659,34873.8219,5279,1290,...,5143.5454,325613,5247,9.5696,20.8130,68,0,1,0,1337
22677,5Yr,2020,2020-02-17,3,3,1756,5989,32992.5289,4726,1185,...,5638.6736,359829,5351,9.8896,20.2668,70,0,0,0,1315
22678,5Yr,2020,2020-02-24,4,4,1650,5761,31929.1918,4534,1152,...,5260.2488,325882,5475,9.2114,20.3603,63,0,0,0,1446
22679,5Yr,2020,2020-03-02,5,5,1664,5948,31523.1213,4576,1294,...,5199.5739,331062,4632,10.0311,20.2784,42,0,0,0,1293